[2017-08-11 12:54] peterdesmet opened #1 "Review static website generators"
Here are my notes on [this top 10 list of static website generators](https://www.netlify.com/blog/2016/05/02/top-ten-static-website-generators/) (and some honorable mentions):

* Jekyll: Ruby, very popular. **Good candidate**
* Hexo: nodeJS. According to @timrobertson100, nodeJS has very fast development, better to avoid for this use case.
* Hugo: Go. No Go familiarity in TDWG.
* Octopress: Ruby,

[2017-08-11 16:55] peterdesmet opened #2 "Preferred build process"
@timrobertson100 any preference for the build process? With Pelican, a site can be generated with:

1. `pelican`
2. `fab`
3. `make`

See [the documentation](http://docs.getpelican.com/en/stable/publish.html#automation) for more info. I'd opt for `pelican` as that limits the number of settings files to maintain, but you might have good reasons to prefer any of the other two. Let me know.

[2017-08-14 22:30] peterdesmet opened #3 "Import TDWG news items via RSS feed"
Pelican can import content via RSS, which can be useful for importing the news items (assuming we want to keep those)

* [ ] Search for complete RSS feeds of all TDWG news items
* [ ] Use http://docs.getpelican.com/en/stable/importer.html
* [ ] Verify files
* [ ] Cleanup files (links, etc.)

[2017-08-21 10:56] peterdesmet opened #4 "Site search"
Issue to document so options for site search:

Option 1. From @timrobertson100 :

[2017-08-21 10:58] peterdesmet commented on #4
Suggestion by @timrobertson100: https://lunrjs.com/, a node.js option (browser or server side) used by http://bid.gbif.org/

[2017-08-21 11:05] peterdesmet commented on #4
Option 3. [tipue_search](https://github.com/getpelican/pelican-plugins/tree/master/tipue_search) a Pelican plugin that uses BeautifulSoup to generate a json search file on generation and the plugin to search it with JS. Here's a [tutorial](http://mygeekdaddy.net/2014/11/17/adding-local-search-to-pelican/)

[2017-08-21 21:23] peterdesmet commented on #4
Tested Tipue search: seems like the most straightforward option for now.

@timrobertson100 question: do we want a

1. Search box in the top navigation, where you can type right away
2. Search icon in the top navigation, which on click opens a search page with a search box.

Option 1 is slightly more convenient, but requires all search specific javascript to load for every page + takes up more spac

[2017-08-23 12:18] timrobertson100 opened #5 "Setup build server and web hook on GBIF"
GBIF should setup [their Jenkins CI](https://builds.gbif.org/) to build a tdwg-dev.tdwg.org (or similar) site following the [existing documentation](https://github.com/tdwg/website#deployment).

If the documentation is inadequate, this needs to be fixed / have issues lodged.

See #2

[2017-08-23 12:25] peterdesmet commented on #5
Although the Pelican generate process should work as it is, the URL of the dev website should become part of the settings for more robust URLs. So, if we can settle on one that would be great.

* Production: `www.tdwg.org`
* Development: most simple (and my preference) is `dev.tdwg.org`, but maybe we have to adopt `dev-www.tdwg.org` or `www-dev.tdwg.org` or similar to avoid name clashes with other

[2017-08-23 12:39] peterdesmet commented on #5
@MattBlissett: the trigger to build should be every commit on the master branch. 🙇

[2017-08-23 12:42] peterdesmet opened #6 "Indicate commit hash on website"
For reference, it would be cool if the commit hash (in dev) and/or release version (in prod) on which the build is based is indicated in the footer of the website. Not sure yet how to do that, but noting it here as an idea.

[2017-08-23 13:14] gkampmeier commented on #6
Is that needed if you are distinguishing the difference by the URL (see #5)? Or am I misunderstanding something?

[2017-08-23 13:24] MattBlissett commented on #5
I'll make a new VM for this later, for the moment it's using the some one as www.tdwg.org.

search.html is missing from the theme, could you add it so I can test the build?

https://builds.gbif.org/job/tdwg-dev-prod/5/console

[2017-08-23 13:27] MattBlissett commented on #6
`git describe` gives the tag (for a release) or tag+hash (otherwise).

It could go into settings*.py or wherever else might be appropriate.

[2017-08-23 13:30] MattBlissett commented on #5
It will be http://dev.tdwg.org/

[2017-08-23 13:31] MattBlissett opened #7 "Set up HTTPS"
We should use HTTPS.

A Lets Encrypt certificate will be fine, but I need to set it up.

[2017-08-23 13:54] gkampmeier opened #8 "Create contributing guide"
On the opening page [https://github.com/tdwg/website](https://github.com/tdwg/website), the links to the contributing guides 404

[2017-08-23 14:54] MattBlissett commented on #2
Pelican seems to work fine. I only have basic Python knowledge, so I'll trust your judgement.

I'm using a Python 3 virtual environment:

[code]

[2017-08-23 14:54] #2 closed

[2017-08-23 15:20] MattBlissett commented on #5
Should be done.

The callback is only sent from this repository, does it need to be from tdwg-theme too?

[2017-08-23 15:22] peterdesmet commented on #5
Awesome! Regarding callback from theme repo: I don't think that's necessary (for now).

[2017-08-23 15:24] peterdesmet commented on #5
@MattBlissett found anything missing in the [documentation](https://github.com/tdwg/website#deployment)?

[2017-08-23 15:25] MattBlissett commented on #5
No, it worked exactly as described.

[2017-08-23 15:39] peterdesmet commented on #5
Great! Closing issue. Thanks again! 🎉

[2017-08-23 15:39] #5 closed

[2017-08-23 16:23] peterdesmet commented on #8
I'm aware. 😄 I still need to write it. Will rename this issue as a task.

[2017-08-23 16:32] peterdesmet commented on #6
@gkampmeier: the difference in URL is the difference between the development website (where everything can be considered a preview of what's to come) and the actual (production) website (which will often be a bit behind until the editor has approved stuff). The hash on the other had is just a handy reference to know on which commit the site is based: it could help to figure out "Hey, why am I not

[2017-08-23 16:33] peterdesmet opened #9 "Testing page on dev server"
Just did a commit to test build server: https://github.com/tdwg/website/commit/5fb7b037511687e27cb772a5574cba93407ba6fd and the build server indicates a successful build, but the site indicates a test page: http://dev.tdwg.org/

PS: can the URL of the build server be public (as in: part of the documentation)?

[2017-08-23 16:38] MattBlissett commented on #9
The build log says `ERROR: Unknown status 'draft' for file pages/home.md, skipping it.`

index.html wasn't generated, so you're seeing the default Apache page.

The build system is already public for other GBIF projects, so it can be public for this.

[2017-08-23 17:09] MattBlissett commented on #9
I don't think `settings-dev.py` is working as intended.

[code]

[2017-08-23 17:18] MattBlissett commented on #6
Given a line like

[code]

in settings-dev.py / settings-prod.py, I'd add a line to the build process like

[code]

It needs one tag to start.  The result would be something like

[code]

[2017-08-24 11:57] peterdesmet commented on #9
Ok, thanks. Will look into this on Monday.

[2017-08-28 08:47] peterdesmet opened #10 "How is theme retrieved on dev server?"
@MattBlissett, I noticed:

https://github.com/tdwg/website/blob/73ad96cd4ad0858446415a4566ff4bd192d1b2e8/settings-dev.py#L14

2 questions:

1. The path above is different than in (local) `settings.py`, where the directories `tdwg-theme` and `website` are at the same level. What is the dir structure on dev? Is `tdwg-theme` part of the `website` directory and should I update the README to reflect th

[2017-08-28 15:59] MattBlissett commented on #10
Jenkins automatically clones the Git repository into its workspace directory, so everything added must be in that directory.

After a build, we have this structure:

[code]

It would make sense to update the documentation.

I have this to retrieve tdwg-theme:
[code]

so the latest commit should be used. There's an option in Jenkins to wipe out the build workspace before every build, but I haven't

[2017-08-28 16:04] MattBlissett commented on #7
Done, using Let's Encrypt.

https://dev.tdwg.org/

[2017-08-28 16:04] #7 closed

[2017-08-28 16:16] MattBlissett commented on #9
You now have SSH access, using the SSH key you provided to GitHub, as pdesmet@dev.tdwg.org.

`sudo` should be used if you need to do something as root. Other than looking at log files or restarting HTTPD, I'd prefer to know when anything needs to be changed.

[2017-08-28 18:31] peterdesmet commented on #9
Thanks, noticed console output is public at https://builds.gbif.org/job/tdwg-dev-prod/16/console. Will let you know when I'll need to use ssh.

[2017-08-28 18:31] #9 closed

[2017-08-28 18:39] peterdesmet commented on #10
@MattBlissett

1. Rather than me describing the dev steps in the documentation, I think it would make sense to add your dev build script to this (or a private tdwg infrastructure) repo.
2. You now have admin to the tdwg-theme.
3. If wiping the workspace means you need to `git clone` every time, I would avoid it (the website might contain a lot of static files).

[2017-09-04 22:04] peterdesmet opened #12 "Dropdown disables top link"
The website now has a [hierarchical navigation in the navbar](https://dev.tdwg.org/). It is implemented with bootstrap 4.0 dropdowns (see [documentation](https://getbootstrap.com/docs/4.0/components/navbar/#nav)). It also works on small screens.

However: clicking the top level page now open/closes the dropdown and it is **no longer possible to open the page itself** (even though it exists, e.g. h

[2017-09-04 22:09] peterdesmet commented on #12
Right, technically this issues belongs in the tdwg-theme repo. For reference, here's the bootstrap html:

https://github.com/tdwg/tdwg-theme/blob/2c68d0214b20436d3f2667ce543d1c995fe8d1da/templates/base.html#L37-L64

[2017-09-18 10:23] peterdesmet commented on #12
For reference, there's of course a whole [Stack overflow discussion with suggestions](https://stackoverflow.com/questions/19935480/bootstrap-3-how-to-make-head-of-dropdown-link-clickable-in-navbar), some CSS, some JS, most not mobile friendly. This one seems to work:

[code]

But I'd rather use something intuitive, like hover on widescreen, split button on mobile (cf. https://okfn.org/)

[2017-09-18 10:42] peterdesmet opened #13 "Do we want title capitalization?"
How do we want to capitalize titles on the TDWG website? Some examples

Personally, I'm not a big fan of capitalizing (the heading and font size should be indication enough), but some people might think different. There are [different ways](http://titlecapitalization.com) of doing this, I just like it to be consistent, so we can add it to the contributing guidelines.

[2017-09-18 12:29] dkoureas commented on #13
Persistence is the most important here.

I would argue that the Words corresponding to given acronyms need to be capitalised though. So I would go with
Natural Collections Descriptions (NCD): A Data Standard for Exchanging Data Describing Natural History Collections

Kind regards,
Dimitris

--

Dr Dimitrios Koureas, FLS

Lead, Research Data & Partnerships
Dept of Life Sciences | Natural History Mu

[2017-09-18 13:15] gkampmeier commented on #13
I agree absolutely with capitalizing the first letters of words corresponding to given acronyms. After the colon, however I don't think that in general the words following it should be capitalized  [https://www.grammarly.com/blog/capitalization-after-colons/](https://www.grammarly.com/blog/capitalization-after-colons/)

As for titles (Our Mission), I think it depends on the heading level and how i

[2017-09-18 14:55] peterdesmet commented on #13
Thanks!

Any easy to follow guidelines out there we can reference (which cover more than after colon)? E.g. I'm not 100% what "principle words" are.

I'd use the same rules for all headings...

[2017-09-18 15:22] gkampmeier commented on #13
[https://capitalizemytitle.com/](https://capitalizemytitle.com/) where "principle" = "important"

Elsewhere the smallest rule of thumb I've seen is don't capitalize words under three letters, but obviously pronouns and subordinating conjunctions are in a grey area in that simple rule. I would have included the subordinating conjunctions in the categories of things not capitalized.

[2017-09-18 15:32] peterdesmet commented on #13
Ooh, I do like "Sentence case" 😄  It's simple an easy to remember:

We could also adopt that, with the note that spelled-out acronyms need to retain their capital letters.

[2017-09-18 15:50] peterdesmet opened #14 "How to display email addresses?"
There's currently a mixture of how email addresses are displayed on the TDWG site:

1. Difficult to read, but with a regular address behind link ([this page](http://www.tdwg.org/about-tdwg/executive/exec-comm-2017/)):

2. `@` symbol written differently and inconsistently, and some JavaScript to obfuscate address in link (doesn't show up in this issue, but see [this page](http://www.tdwg.org/activi

[2017-09-18 17:59] gkampmeier commented on #14
I agree, we should choose one.  I wondered, however, if web crawlers weren't sophisticated enough to see through these obfuscations that mainly only annoy legitimate users. This rather agreed with what I was thinking [https://qz.com/181635/surprise-theres-really-no-need-to-conceal-your-email-address-from-spammers/](https://qz.com/181635/surprise-theres-really-no-need-to-conceal-your-email-address-

[2017-09-18 18:39] peterdesmet opened #15 "Define template for group charters"
Charters for interest groups have more or less the same structure, charters for functional subcommittees less so. I'll look into this to see if we can define the elements that needs to be in every charter, while still making it engaging for new users.

Todo:

* [ ] Define template for IG charters
* [ ] Define template for FS charters (if different)
* [ ] Standardize IG charters
* [x] Standardize F

[2017-09-18 20:33] peterdesmet commented on #12
Moved issue to https://github.com/tdwg/tdwg-theme/issues/2, so it can be referenced from code and commits. Please continue conversation there.

[2017-09-18 20:33] #12 closed

[2017-09-25 22:42] peterdesmet commented on #10
@MattBlissett I've just updated `master` in the `tdwg-theme` repo, but that seems to have triggered something in Jenkins: <https://dev.tdwg.org/> no longer seems to have a theme.

[2017-09-25 22:58] peterdesmet commented on #10
@MattBlissett ignored that. Seems resolved: https://dev.tdwg.org/

[2017-09-28 08:13] timrobertson100 commented on #13
The guidelines we received from our comms at GBIF (ex-BBC guy) was sentence case and capitalize acronyms and names only (e.g. data standards is not (?) used an acronym so wouldn't be randomly capitalized, which Darwin Core would be).

# Our mission

# In the beginning

Natural Collections Descriptions (NCD): A data standard for exchanging data describing natural history collections

[2017-09-28 12:30] gkampmeier commented on #13
Sounds like a good fit (has international guidelines befitting an international organization) and will have fewer rules (to please our number one web guru ;) )!

[2017-09-28 17:24] stanblum commented on #13
I'm not sure I'm following your examples, but to my mind, "Darwin Core" is
a proper name and should be capitalized.

On Thu, Sep 28, 2017 at 5:30 AM, gkampmeier <notifications@github.com>
wrote:

[2017-09-28 18:07] gkampmeier commented on #13
I _think_ that Tim said that Darwin Core would be capitalized, but interestingly, we use DwC as an acronym, not DC.

[2017-09-28 18:26] stanblum commented on #13
DC is commonly understood to be Dublin Core

On Thu, Sep 28, 2017 at 11:07 AM, gkampmeier <notifications@github.com>
wrote:

[2017-10-01 14:21] csparr commented on #1
Can this be closed because you have chosen Pelican?

[2017-10-01 15:10] #1 closed

[2017-10-01 15:58] balbertini opened #17 "CSS not found when generating locally"
Followed build site procedure. CSS on main page is being referenced as:

    <link rel="stylesheet" href="/theme/css/main.css">

If using relative paths, it should be:

    <link rel="stylesheet" href="theme/css/main.css">

and modifying this on the generated output fixed the issue.

Alternatively, use abesoure path, but not sure about the mess that it could cause on local/test deploys.

[2017-10-05 15:25] peterdesmet opened #18 "Mention DwC extension on DwC page"
[Tweet](https://twitter.com/dpsspiders/status/915935162126536704) by @dshorthouse:

[Followed up by](https://twitter.com/dpsspiders/status/915936770960871424):

[2017-10-05 15:28] peterdesmet commented on #18
@dshorthouse: Broken links fixed in https://github.com/tdwg/dwc/commit/64311240eeb15c0016c858846f9adbfb91bd515d

[2017-10-05 15:28] balbertini commented on #18
How about an extension repo?

[2017-10-05 15:32] peterdesmet commented on #18
@balbertini: the de facto one out there is http://rs.gbif.org/extension/ managed by GBIF. The repo for that one is https://github.com/gbif/rs.gbif.org/tree/master/extension Need larger discussion to see how that one can be managed by community. /cc @mdoering @gbif

[2017-10-05 21:05] mdoering commented on #18
GBIF accepts any contributions to the repository, both via pull requests and most often personally emailed contributions. It is important to have some review process for adding and changing extensions, sth GBIF is currently doing. But that could well happen by the community if a process for that is in place.

It has been very valuable to be able to distinguish for each extension between a sandbox

[2017-10-06 19:22] peterdesmet commented on #18
There is a new TDWG task group lead by @pzermoglio that will do just that (I'll be involved as well). I hope to reuse/build upon/learn from the rs.gbif.org as a central registry.

[2017-10-07 22:06] peterdesmet opened #19 "Use production CSS and JS on Darwin Core website"
Once we have a production website, we should update the linked CSS and JS in this file:

https://github.com/tdwg/dwc/blob/master/build/config/index.tmpl

[2017-10-09 08:00] mdoering commented on #18
Are there any notes online yet about this group? I am curious why it had been created

[2017-10-16 14:44] peterdesmet commented on #18
@mdoering the charter is in the process of being submitted. The aims are (from @pzermoglio's presentation):

I'm interested to be involved, because: we need a better mechanism for the community to maintain vocabularies, we can adopt some of the structure/code/lessons learned in complying DwC with SDS (basically making a cookie cutter template for maintaining a vocabulary), it would be nice if voca

[2017-10-17 08:30] peterdesmet opened #20 "Align members of IGs with members of teams on GitHub"
I'd like to link to a GitHub team for the **convener + core members** of each IG page/charter on the website, so we only need to maintain members in one place (i.e. GitHub, as that is also where adding someone has a real effect: e.g. access rights to repos).

I should therefore check if the following conditions are met:

* GitHub team exists
* The GitHub team shortname = the IG shortname (e.g. `dw

[2017-10-17 08:43] peterdesmet opened #21 "Pull IG members from GitHub team members"
I'd like to pull IG members from GitHub teams (see #20), but it seems that team information is private to organization members only (see https://github.com/orgs/tdwg/teams/dwc/).

I've contacted GitHub to know if there is a way around this. Maybe it is possible via the GitHub API.

[2017-10-17 08:52] dkoureas commented on #21
Would that be a dynamic process? I mean do you want to do this for populating the pages, or is there a plan to maintain the lists through GitHub teams?

Kind regards,
Dimitris

#End
--
Dr Dimitrios Koureas, FLS
Lead, Research Data & Partnerships
Natural History Museum London

Coordinator, Distributed System of Scientific Collections (DiSSCo<http://dissco.eu/>)
Chair, Biodiversity Information Stand

[2017-11-06 10:13] peterdesmet commented on #17
Thanks for the reviewing the build procedure. You're right. The actual href is `{{ SITEURL }}/theme/css/main.css`, but on local dev `SITEURL` is empty:

https://github.com/tdwg/website/blob/1db30f1284f1231802276d59ac42790b7179e0c3/settings.py#L53

Which results in `/theme/css/main.css`. When you open `output/index.html` it indeed doesn't find the CSS. It does if I'm running a local server from the

[2017-11-06 10:22] peterdesmet commented on #17
Pelican convention is to not include the trailing slash though: http://docs.getpelican.com/en/stable/settings.html#SITEURL

[2017-11-06 15:32] peterdesmet opened #22 "Page metadata to customize it"
Pages can now be customized somewhat, to make them more digestible and pleasant to read. This can be done by defining a cover image, an introduction paragraph and a "learn more" link in the page metadata. None of these are mandatory (and the order doesn't matter):

[code]

Which renders like this:

![biodiversity data quality](https://user-images.githubusercontent.com/600993/32446542-8948a956-c309

[2017-11-07 16:57] dkoureas commented on #22
I think is important to also show the level of activity of the groups. I understand that this can be assessed by through GitHub activity, but it would be great to also have an attribute that would point to the list of Group reports by the conveners.

This would also increase accountability of conveners to actually produce these annual reports.
The reports can go into their github pages and linked

[2018-02-26 13:08] peterdesmet opened #24 "How to structure content?"
Ideally we structure the content as it is structured on the website. There are 3 approaches:

## 1. Everything is a named page (current approach)

[code]

**Advantages**:

- Pages on the same level are **files** on the same level: `home.md` & `community.md`.
- Subpages are grouped in directories with same name as parent page: `bdq/`.
- Every page has a unique file name => easy to recognize what yo

[2018-03-15 09:24] peterdesmet opened #25 "Introduction to TDWG for homepage"
The [homepage](https://dev.tdwg.org/) describes TDWG in a title and short description (feedback welcome):

But below that, we need an introduction to TDWG that expands on that a bit, ideally linking to different sections (Standards, Journal, Community) of the website in the text. It shouldn't be more than a paragraph. @gkampmeier @dkoureas @stanblum can you provide one? Inspiration:

## Introducti

[2018-03-15 09:41] peterdesmet commented on #4
Website now has a [dedicated search page](https://dev.tdwg.org/search.html) that can be accessed from the navbar. Search is implemented with tipue search and styled with bootstrap by adding some classes with jQuery (https://github.com/tdwg/tdwg-theme/pull/11). Closing issue.

[2018-03-15 09:41] #4 closed

[2018-03-15 13:42] gkampmeier commented on #25
![screen shot 2018-03-15 at 8 11 28 am](https://user-images.githubusercontent.com/9611386/37465337-dfbbf516-2828-11e8-80f8-4f5314fa2ac9.png)
We are using the term (biodiversity information standards) as part of the definition. On possibility is changing to "An international non-profit organization dedicated to developing ways to share biological data"  As a tag line, it doesn't have to be folksy (

[2018-03-15 14:03] peterdesmet opened #26 "Choose English spelling variant"
In response to @gkampmeier [comment](https://github.com/tdwg/website/issues/25#issuecomment-373379507): we need to choose a English spelling variant:

1. British English with "-ise"
2. British English with "-ize" (Oxford spelling)
3. American English

See [this Wikipedia section](https://en.wikipedia.org/wiki/Wikipedia:Manual_of_Style/Spelling#International_organizations) on which organizations us

[2018-03-15 14:07] MattBlissett commented on #26
For what it's worth, GBIF follows UN spelling, so number 2.

http://dd.dgacm.org/editorialmanual/ed-guidelines/style/spelling.htm

[2018-03-15 14:10] dkoureas commented on #26
I would go with option 2 as well

Kind regards,
Dimitris

*--*

*Dr Dimitris Koureas, FLS*

Head, Department of International Cooperation on Biodiversity
Infrastructures
*Naturalis Biodiversity Center *
P.O. Box 9517, 2300 RA Leiden, NL

Coordinator, Distributed System of Scientific Collections (DiSSCo
<http://dissco.eu>)
Chair, Biodiversity Information Standards Organisation (TDWG
<http://tdwg.or

[2018-03-15 14:11] peterdesmet commented on #25
Thanks for feedback on the tagline @gkampmeier. I'd like to keep the "We are ..." Based on your suggestion, we could do:

Feedback?

- Separate issue for spelling #26
- Issue on paragraph below still stands.

[2018-03-15 14:12] peterdesmet commented on #26
I'd say one more vote for option 2 and it is decided. 😄

[2018-03-15 14:12] timrobertson100 commented on #26
option 2

On Thu, Mar 15, 2018 at 3:12 PM, Peter Desmet <notifications@github.com>
wrote:

[2018-03-15 14:13] gkampmeier commented on #25
I know I'm dabbling at the edges, and I'll get to the meat soon, but the box calling out the annual meeting also needs revision (for me, subscriptions are for journals/magazines). "Registration is now open for the TDWG Annual Conference in Dunedin, NZ." If there is room, adding something about "...held jointly with the Society for the Preservation of Natural History Collections (SPNHC)."

[2018-03-15 14:34] peterdesmet commented on #24
After discussing with @timrobertson100, decided to go with option 2: all pages are directories.

[2018-03-15 14:37] gkampmeier commented on #25
Regarding your suggestions for rewording the tag line:
1 &3. although "ways" doesn't sound very specific, it was purposeful. Question is the difference between 1 and 3 of "developing ways" vs. "improving how." These are presupposing two starting points, and I suppose it could be argued that we've already developed ways and are now concentrating on improving how...??
2. uses part of the phrase we a

[2018-03-15 14:52] peterdesmet commented on #26
Added to contributing guide: https://github.com/tdwg/website/commit/a3e5d4ce2512f5b904c08d0a06334111a6a3d956

[2018-03-15 14:52] #26 closed

[2018-03-15 18:28] peterdesmet commented on #24
Done in #27

[2018-03-15 18:28] #24 closed

[2018-03-15 18:29] peterdesmet opened #28 "Integrate fairsharing.org"
Integrate fairsharing.org plugin in standards page: http://toad.oerc.ox.ac.uk:8080/

[2018-03-15 18:34] peterdesmet opened #29 "Document publication workflow"
After discussion with @timrobertson100: Rather than using releases to push to production, any commit to the master branch will build the site in production. Only editors will have write access to master branch, but anyone can submit a pull request.

Should be documented in contributing guide.

[2018-03-15 18:37] peterdesmet opened #30 "Test archiving of conference files"
After discussion with @timrobertson100: test archival of conference files (e.g. programme, presentations) in a separate repository `conferences-archive`:

[code]

_Note: archival might not be necessary for 2017 and later where BISS is used._

Website page for that conference should have basic information about conference (dates, location, organizers, website) and link to those files.

@peterdesmet

[2018-03-15 20:00] gkampmeier commented on #25
Suggest the following edits to the introduction:

Historically known as Taxonomic Databases Working Group, today's Biodiversity Information Standards (TDWG) is a not-for-profit, scientific and educational association formed to establish international collaboration among the creators, managers and users of biodiversity information and to promote the wider and more effective dissemination and sharin

[2018-03-19 15:04] peterdesmet commented on #30
File size will be too large for a GitHub repo. 2008 conference alone = 978MB vs max allowed for repository = 1GB. Google Drive/Dropbox are annoying for deep linking, Zenodo does not allow directories or changes (without creating a new version), so decided with @timrobertson100 @MattBlissett to setup file server at GBIF.

[2018-03-19 15:07] peterdesmet opened #31 "Archive TDWG 2006 conference"
Archive TDWG 2006 conference: http://www.tdwg.org/conference2006/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

[2018-03-19 15:07] peterdesmet opened #32 "Archive TDWG 2007 conference"
Archive TDWG 2007 conference: http://www.tdwg.org/conference2007/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

[2018-03-19 15:07] peterdesmet opened #33 "Archive TDWG 2008 conference"
Archive TDWG 2008 conference: http://www.tdwg.org/conference2008/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

[2018-03-19 15:09] peterdesmet opened #34 "Archive TDWG 2009 conference"
Archive TDWG 2009 conference: http://www.tdwg.org/conference2009/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:10] peterdesmet opened #35 "Archive TDWG 2010 conference"
Archive TDWG 2010 conference: http://www.tdwg.org/conference2010/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:10] peterdesmet opened #36 "Archive TDWG 2011 conference"
Archive TDWG 2011 conference: http://www.tdwg.org/conference2011/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:10] peterdesmet opened #37 "Archive TDWG 2012 conference"
Archive TDWG 2012 conference: http://www.tdwg.org/conference2012/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:10] peterdesmet opened #38 "Archive TDWG 2013 conference"
Archive TDWG 2013 conference: http://www.tdwg.org/conference2013/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:11] peterdesmet opened #39 "Archive TDWG 2014 conference"
Archive TDWG 2014 conference: http://www.tdwg.org/conference2014/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:11] peterdesmet opened #40 "Archive TDWG 2015 conference (Nairobi, Kenya)"
Archive TDWG 2015 conference: http://www.tdwg.org/conference2015/

* [ ] Host: Lucy Waruingi?
* [x] Venue
* [x] Date: 28 September - 1 October, 2015 (= official)
* [x] Programme: http://www.tdwg.org/fileadmin/2015conference/documents/TDWG-2015_program.pdf
* [ ] Proceedings
* [ ] Presentations: [zip with presentations](https://www.idigbio.org/sites/default/files/workshop-presentations/tdwg-2015/tdw

[2018-03-19 15:11] peterdesmet opened #41 "Archive TDWG 2016 conference"
Archive TDWG 2016 conference: http://www.tdwg.org/conference2016/

* [ ] Metadata
* [ ] Programme
* [ ] Abstracts
* [ ] Participants
* [ ] Presentations

---

* [ ] In staging on Google Drive
* [ ] Archived on file server

[2018-03-19 15:12] peterdesmet opened #42 "Archive TDWG 2017 conference (Ottawa, Canada)"
Archive TDWG 2017 conference: http://www.tdwg.org/conference2017/

* [ ] Host: Agriculture and Agri-Food Canada and Canadian Museum of Nature. Specific people we should add, e.g. everyone from https://tdwg.github.io/conferences/2017/organizers/
* [x] Venue
* [ ] Date: 2-6 October 2017 (official: 1-6)
* [x] Programme: https://tdwg.github.io/conferences/2017/program/TDWG2017_Program.pdf
* [x] Procee

[2018-03-19 15:14] peterdesmet commented on #30
If anyone wants to contribute to the archive of TDWG conference documents, please let me know in this issue.

[2018-03-19 16:26] MattBlissett commented on #30
[tdwg-conference-archive.txt](https://github.com/tdwg/website/files/1825847/tdwg-conference-archive.txt)

There is already a lot of this (4GB) on the filesystem of the existing server. Output of "tree" attached.

[2018-03-19 20:13] peterdesmet commented on #33
@stanblum who hosted/organized this event?

[2018-03-19 20:16] peterdesmet commented on #34
@stanblum I only found pre-proceedings for the Montpellier meeting. Are there final proceedings?

[2018-03-19 20:18] peterdesmet commented on #34
@stanblum only found this oddly formatted participant list: http://www.tdwg.org/fileadmin/2009conference/documents/TDWG2009SessionParticipants_Web.pdf Should we archive (and make public) participant lists for TDWG conferences?

[2018-03-19 20:20] stanblum commented on #33
Kevin Thiele from the WAM.

On Mon, Mar 19, 2018 at 1:13 PM, Peter Desmet <notifications@github.com>
wrote:

[2018-03-19 20:30] stanblum commented on #34
I'll have to check later for a substantive version of the Proceedings that
year.  We should have had something.

RE the participant list: I think respect for privacy has prevented us from
releasing participant lists, generally.  We have recorded in RegOnline
whether participants chose to make their attendance public, as well as
email release in some non-harvestable form.  So any publishing must co

[2018-03-19 20:38] peterdesmet commented on #34
Ok, let's not make participants' lists public then. Contributions with authors will be of course.

[2018-03-19 20:43] peterdesmet commented on #34
Conference [poll results](http://www.tdwg.org/fileadmin/2009conference/slides/TDWG2009_SurveySummary.xlsx) are also online: do we want to keep those?

[2018-03-19 20:45] stanblum commented on #34
Perhaps archived together.  Might be interesting for longitudinal
study/comparison.

On Mon, Mar 19, 2018 at 1:43 PM, Peter Desmet <notifications@github.com>
wrote:

[2018-03-19 20:46] peterdesmet commented on #34
Other general rule: should conference dates include closed (e.g. exec meeting) and/or open pre-conference workshops, or only Monday-Friday?

[2018-03-19 20:47] peterdesmet commented on #34
And do we have people as hosts for this one, or just Agropolis and Bioversity International?

[2018-03-19 20:52] stanblum commented on #34
My inclination would be to use the dates of the general conference; so Exec
meeting always excluded, and  pre-conference workshops also excluded even
if they are open, though they could be listed separately.  The date of the
welcoming reception should not influence starting date of conference.

On Mon, Mar 19, 2018 at 1:46 PM, Peter Desmet <notifications@github.com>
wrote:

[2018-03-19 21:22] peterdesmet commented on #35
@stanblum only found pre-proceedings, are there final ones? And who hosted the Woods Hole meeting?

[2018-03-19 21:28] peterdesmet commented on #34
Conference page now live, let me know what you think about structure/info: https://dev.tdwg.org/conferences/2008/

Will structure other conference pages similarly, e.g. see:

https://dev.tdwg.org/conferences/2009/
https://dev.tdwg.org/conferences/2010/

[2018-03-19 21:33] peterdesmet commented on #30
Thanks @MattBlissett, will use that file to know how far along the archiving I am. Since there is some file management required (e.g. lots of directories we no longer need), I'll download and archive them on Google Drive first and then we can move everything to a file server.

[2018-03-20 08:54] peterdesmet opened #43 "Conference page information"
@stanblum I'm trying to list here what information every conference page should contain. Example of such a page: http://localhost:9000/conferences/2008/

* [ ] **Summary**: `TDWG yyyy annual conference - Town, Country`
* [x] **Cover image**:  CC-BY image, good to recall the place 😄
* [ ] **Theme**: @stanblum should we list the theme of the meeting? Not sure if this is relevant.
* [ ] **Description

[2018-03-20 08:55] peterdesmet commented on #43
@stanblum can you give your feedback on what should (not) be included in your opinion?

[2018-03-20 09:15] peterdesmet commented on #31
All links on http://www.tdwg.org/conference2006/ are dead. Based on the [file list](https://github.com/tdwg/website/files/1825847/tdwg-conference-archive.txt) provided by @MattBlissett there is a programme, but no slide uploads. The proceedings I already have.

[code]

@stanblum could you track down the programme and let me know what should be archived? And let me know who was the host? I'll mark

[2018-03-20 09:26] peterdesmet opened #44 "Archive pre-2006 TDWG conferences"
The year, city, country and host/venue of pre-2006 TDWG conferences are listed at http://www.tdwg.org/past-meetings/, but almost all links are dead except for the 2002 http://www.cria.org.br/eventos/tdbi/.

If we can't track down documents for those meetings, I don't think it makes sense to create separate pages. @stanblum should we:

- Create a single "TDWG pre-2006" conference page with a table

[2018-03-20 09:43] peterdesmet commented on #44
Regarding the side menu, here are the different options. Note that the title update also affects the title of the page.

## Years

Clean and simple, but harder to find back a conference where you only remember the town

![years](https://user-images.githubusercontent.com/600993/37646767-d7ec558c-2c2a-11e8-9412-95f474f1783a.png)

## Year/city

Easier to find back by town

![year-city](https://user-i

[2018-03-20 09:45] MattBlissett commented on #31
There are other files with 2006 in the filename:

[code]

I'll give you access to the existing webserver so you can look.

[2018-03-20 10:16] peterdesmet commented on #32
Archived what I could (see above, no presentations). File server also contains:

[code]

@stanblum is there anything that needs to be archived?

[2018-03-20 10:17] peterdesmet commented on #34
No further 2009 files on server.

[2018-03-20 10:52] peterdesmet commented on #36
@stanblum could not find proceedings + unsure who to list as host... the whole programme committee?

[2018-03-20 11:02] peterdesmet commented on #31
Page started at https://dev.tdwg.org/conferences/2006/

[2018-03-20 11:02] peterdesmet commented on #32
Page started at https://dev.tdwg.org/conferences/2007/

[2018-03-20 11:05] peterdesmet commented on #36
Page started at https://dev.tdwg.org/conferences/2011/. Should poster be kept?

![tdwg_2011_poster](https://user-images.githubusercontent.com/600993/37650930-b7dfabd4-2c36-11e8-9068-1fb489687223.jpg)

[2018-03-20 12:21] peterdesmet commented on #38
@stanblum can you track down proceedings and confirm host? Should conf. logo be kept?

[2018-03-20 12:49] peterdesmet commented on #39
@stanblum can you track down proceedings and confirm host?

[2018-03-20 12:51] peterdesmet commented on #37
Conference page now available at http://localhost:9000/conferences/2012/

[2018-03-20 12:51] peterdesmet commented on #38
Conference page now available at http://localhost:9000/conferences/2013/

[2018-03-20 12:52] peterdesmet commented on #39
Conference page now available at http://localhost:9000/conferences/2014/

[2018-03-20 13:10] peterdesmet commented on #40
@stanblum can you confirm host + track proceedings? Also, should pre-conference workshop be listed: http://www.tdwg.org/conference2015/pre-conference-training/?

[2018-03-20 13:21] gkampmeier commented on #44
I like the reverse order (last one), but really dislike the lack of states when referring to United States --if we ever met in Springfield or Urbana or a number of other names, most states have these city/town names so disambiguation would be a nightmare. I'm not familiar enough with the naming conventions elsewhere to know if this is a problem in other countries (Canada? Brazil? UK?). Possibiliti

[2018-03-26 13:19] peterdesmet commented on #44
@gkampmeier updated: town, country in reverse order + states for USA conferences. I think for the other conferences/countries there is no confusion. But I didn't think was any confusion with the conferences in the United States either. 😄

![new-names](https://user-images.githubusercontent.com/600993/37908297-184fc83e-3108-11e8-8111-dc5fc8a0509c.png)

`Kenya`, `China`, `United States of America` ar

[2018-03-26 13:52] peterdesmet commented on #41
Should we reference the following items that are currently mentioned at http://www.tdwg.org/conference2016/:

* [ ] [iDigBio summary](https://www.idigbio.org/content/research-spotlight-january-2017): maybe, if we can include it in an introduction about the conference
* [ ] [photo album](https://www.flickr.com/groups/tdwg16/): no
* [ ] [twitter hash](https://twitter.com/hashtag/tdwg16?src=hash): no

[2018-04-03 11:32] peterdesmet commented on #37
@stanblum @gkampmeier can you verify host, venue and track proceedings?

[2018-04-03 11:42] peterdesmet commented on #42
@stanblum @gkampmeier do we have archived presentations? Should this website be kept: https://tdwg.github.io/conferences/2017/ or is the single conference page sufficient? I think the latter: registration, accommodation, instructions to authors etc. are no longer necessary.

[2018-04-03 13:12] peterdesmet commented on #44
Based on http://www.tdwg.org/past-meetings/ created a [separate page for pre-2006 conferences](https://dev.tdwg.org/conferences/pre-2006/).

- Updated table with standardized location information + a link to host website.
- All links on pre-2006 links on http://www.tdwg.org/past-meetings/ are broken, except for the [2002 CRIA conference](http://www.cria.org.br/eventos/tdbi/), which contains some i

[2018-04-03 16:29] peterdesmet opened #46 "How to structure standards page?"
@baskaufs the new TDWG website will have pages for (at least the current) standards. Question:

1) Should these pages be the **landing pages** for these standards?
    - Advantage: one place to control this information + still possible to dereference for machine-readable content
    - Disadvantage: requires specific format that might be less inviting for newcomers. On the other hand, I'm not what

[2018-04-04 02:16] baskaufs commented on #46
@peterdesmet I think that it makes sense to have the standards landing pages be on the regular TDWG website.  My main reason is that I'm a big fan of not changing IRIs nor breaking web links. For years, we have advertised IRIs of the form http://www.tdwg.org/standards/147 (i.e. in the www.tdwg.org subdomain) as the "permanent URL" for the standard.  So I think we should take that seriously and mak

[2018-05-28 19:02] peterdesmet opened #49 "Use search/, not search.html"
Search is the only page that ends in `.html`, as it is a separate template. Will have to check if it is possible to make it part of the URL schema.

[2018-06-07 18:26] peterdesmet opened #50 "Tag section includes main page"
**Page(s) where issue occurs**

https://dev.tdwg.org/standards/
https://dev.tdwg.org/community/

**Issue description**

The main page (standards, community) ends up under each section:

![community tdwg](https://user-images.githubusercontent.com/600993/41118719-1697ca1a-6a91-11e8-8353-17e549c07604.png)

[2018-06-07 18:35] peterdesmet opened #51 "Bring back side navigation for standards/community"
Discussed in Exec call

**Page(s) where issue occurs**

https://dev.tdwg.org/standards/
https://dev.tdwg.org/community/
https://dev.tdwg.org/about/

**Issue description**

Some pages (standards, community) have a lot of subpages (images). Although these are divided in sections (current standards, etc.) it takes a lot of scrolling to discover those sections. Proposal is to list the sections in the

[2018-06-07 18:35] peterdesmet opened #52 "Explain how to hide pages"
Should be listed in contributing FAQ

[2018-06-14 15:10] peterdesmet commented on #51
Solved in https://github.com/tdwg/tdwg-theme/pull/20. See for example at https://dev.tdwg.org/standards/#draft-standard

[2018-06-14 15:10] #51 closed

[2018-06-15 22:10] peterdesmet commented on #50
Corrected in https://github.com/tdwg/tdwg-theme/commit/2030ddc0d424edb666cdcc5ee20e75d61b424612#diff-a083ca7d91c5cb1c618a9343b94104a1R55: old template name `page_index` was excluded.

[2018-06-15 22:10] #50 closed

[2018-07-02 12:51] peterdesmet commented on #30
Hi @MattBlissett, we have archived most conference files and it would be good to setup a file server for those. I'll email you.

[2018-07-25 11:36] peterdesmet opened #55 "Launch under new URL"
URLs

- [x] https://www.tdwg.org: default
- [x] http → https
- [ ] https://dev.tdwg.org → https://www.tdwg.org
- [x] http://old.tdwg.org: typo3
- [x] solve privacy error with https://static.tdwg.org/

Settings:

- [x] `settings-prod.py`: keep with content from `settings-dev.py`
- [x] `settings-dev.py`: remove

[2018-07-25 12:06] #55 closed

[2018-07-25 12:45] peterdesmet opened #56 "Add Privacy policy + Google analytics code"
We should add a [privacy statement](https://www.tdwg.org/about/privacy/). Example: https://www.opencore.com/privacy/

Once done, we can add a Google Analytics code to track visitors in [base.html](https://github.com/tdwg/tdwg-theme/blob/master/templates/base.html#L84)

[code]

[2018-07-25 12:46] peterdesmet commented on #56
@stanblum I'm adding you, but should be discussed with exec

[2018-07-25 12:49] timrobertson100 commented on #56
I am a little on the fence here. Adding analytics is nice, but means we need a privacy policy and to inform people. Really... do we need the info? On reflection I am not so sure and might sway slightly towards anonymity.

[2018-07-25 15:29] peterdesmet commented on #19
Done in https://github.com/tdwg/dwc/commit/7aa6e587ea3566f03ca8047e067e1acad0ad3869

[2018-07-25 15:29] #19 closed

[2018-07-25 15:37] peterdesmet commented on #25
I've just updated the homepage intro text with the suggestions by @gkampmeier: 652ecb21ca0db4614f38988a784bbf193a9c4c27

@dkoureas @stanblum Close if you agree.

[2018-07-25 17:42] stanblum commented on #56
We are planning to write a privacy policy. But it will cover a lot more
than info related to website logs. Membership. Conference. Github and other
service providers. ...

Stan

On Wed, Jul 25, 2018 at 5:49 AM Tim Robertson <notifications@github.com>
wrote:

--
Sent from my phone.

[2018-07-26 10:47] peterdesmet opened #58 "Consider using internal links without {filename}"
## Pelican way of linking

The way [internal links work in Pelican](http://docs.getpelican.com/en/3.6.3/content.html#linking-to-internal-content) is with the `{filename}` syntax, linking to the markdown file:

[code]

The main advantages of doing so are:

1. if we ever change our URL pattern (e.g. to use `name.html`: very unlikely) the links will still work
2. the build process warns of broken lin

[2018-07-26 14:14] DavidFichtmueller opened #59 "Create redirects for old page URLs"
With the new website, the URL structure was cleaned up. While this makes the website more consistent, it also breaks old links to special pages of the website.
There should be redirects from all of the old links to their new sites. In particular this is of importance for the standards, which used to have URLs with numeric identifiers, e.g. http://www.tdwg.org/standards/115 for ABCD or http://www.t

[2018-07-26 14:57] peterdesmet commented on #59
Fully agree! Thanks for adding it to the todo list.

[2018-07-28 10:06] dkoureas commented on #56
I have compilled a (GDPR compliant) provacy policy for the
biodiversity_next website. Maybe we can use and adjust that?

http://biodiversitynext.org

On Wednesday, 25 July 2018, Stan Blum <notifications@github.com> wrote:

--
Kind regards,
Dimitris

*--*

*Dr Dimitris Koureas, FLS*

Programme Director - Department Head
*International Biodiversity Infrastructures*
*Naturalis Biodiversity Center *
P

[2018-07-30 13:45] dkoureas commented on #56
I have compilled a (GDPR compliant) provacy policy for the
biodiversity_next website. Maybe we can use and adjust that?

http://biodiversitynext.org

On Wednesday, 25 July 2018, Stan Blum <notifications@github.com> wrote:

[2018-07-31 13:10] peterdesmet opened #61 "Get rid of slugs in news articles"
News articles should get their URL from the directory they are in, not the slug they have.

[2018-08-10 14:11] nickynicolson opened #66 "Add a page (resources?) where official logo image can be downloaded"
I'm creating a set of slides for a conference outside of the biodiversity informatics community. To credit TDWG for standards development work, I'd like access to a TDWG logo - so it would be useful if there were a standard resource page where this could be downloaded.
Currently I guess a lot of people just use google image search, ending up with things that are out of date or in poor resolution -

[2018-08-12 12:34] dkoureas commented on #66
I now have a vector version of the TDWG logo and a .pdf and .ai version of a banner.

[2018-08-14 05:26] stanblum commented on #66
Dimitris, can you upload or pass them to Peter?

[2018-08-14 07:49] dkoureas commented on #66
[TDWG_Logos.zip](https://github.com/tdwg/website/files/2285971/TDWG_Logos.zip)

[2018-08-14 07:56] dkoureas commented on #66
Color scheme for TDWG logo
For dark background TDWG logo is filled CMYK 5/4/4/0 - RGB 244/244/244 - F4F4F4)
For light background TDWG logo is filled CMYK 100/72/40/34 - RGB 4/59/88 - 043B58

[2018-08-15 02:45] baskaufs opened #70 "The standards and categories page needs to be resurrected in the new website"
**Page(s) where issue occurs**
Page is missing

? what does this mean?

**Issue description**
The page http://www.tdwg.org/standards/status-and-categories/, which existed on the old website needs to be put on the new website, preferably at the same URL.  It has been cited in various places, most notably in section 3.1.5 of the [Standards Documentation Specification](https://github.com/tdwg/vocab/b

[2018-08-15 08:35] stanblum commented on #70
I've added the page, and updated some of the language a little.  Same URL; no changes to category or status labels. Each status or category is a heading so can be referenced with an html anchor.

[2018-08-15 09:48] peterdesmet commented on #70
Thanks @stanblum. Always good to reference the commit in which the changes took place:
https://github.com/tdwg/website/commit/f094dd16343c6c90f991f09d8018529015afa285#diff-2a1596f6d803bcdfda1d92137dd851f4

Note: the page is now present, but not accessible via any of the submenus. I wonder if that is a problem.

[2018-08-15 17:15] stanblum commented on #70
The only way I know to make this page show up as a submenu item is to make it a heading `<h2>`.  Initially, I referenced it only an italicized link on the standards page (for presentation not at the same level of importance as the standards groupings).  Now making that a second level heading to see if it looks weird.

[2018-08-15 17:31] stanblum commented on #70
last commit:  [d0be812](https://github.com/tdwg/website/commit/d0be81238478e0ef8fd5ac9bc67025ee3acbb868) with shortened heading/link text.

[2018-08-15 17:57] peterdesmet commented on #70
Ok, you can leave the issue open, so I can have a look later.

[2018-08-22 03:12] baskaufs opened #83 "Redirect from "permanent URL" for a standard to the landing page"
**Page(s) where issue occurs**

**Issue description**
The "permanent URL" for Audubon Core is http://www.tdwg.org/standards/638 .  However, there is currently no redirection from that to the actual landing page of the standard.  In the past, there was a server script on the server running the website that accomplished the redirection.  However, I'm not aware that there is a way to accomplish somet

[2018-08-25 03:51] peterdesmet opened #85 "TAPIR task group charter"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/tapir/charter/

**Issue description**

The name of this charter is a _task group_ charter.

- Either that should go in a interest group > task group page
- Or it should be a maintenance group charter

[2018-08-25 03:52] peterdesmet commented on #85
It also says it is a "a Task Group of the Technical Architecture Group (TAG)", while that group is now a Functional subcommittee. TDWG structure is complex. 🙄

[2018-08-25 04:09] tucotuco commented on #59
Broken links from References section on TDWG Vocabulary Maintenance Specification page https://github.com/tdwg/vocab/blob/master/vms/maintenance-specification.md:

[DOC-SPEC] http://www.tdwg.org/standards/147
[GBIF-KOS] http://www.gbif.org/resource/80656
[PROCESS] https://www.tdwg.org/about-tdwg/process

[2018-08-29 12:46] DavidFichtmueller commented on #59
I also recently ran into some 404s from some standard pages, so I decided to create an overview table, of all of the old URLs (there are certainly some missing, but I tried to work along the page menu structure) and to which new pages they would map (either because they are the direct equivalent or because the are the closest possible fit.

I think the most important URLs to forward are the standa

[2018-08-29 22:13] ghwhitbread opened #90 "Fix link to github in content/pages/community/tnc/index.md"
**Page(s) where issue occurs**

https://github.com/tdwg/website/blob/master/content/pages/community/tnc/index.md

**Issue description**

LInk to github in community page attempts to link to standard rather than tdwg/tnc repository.  This is probably a good idea (we can link to tnc from there) but that link needs to be corrected:  (https://github.com/tdwg/standards/tcs) should be https://github.com

[2018-09-27 03:45] stanblum commented on #90
I think the link to GitHub on the Community/ TNC (IG) page should actually point to the GitHub TNC repo.  So that's what I've done.  At least now, it doesn't 404.

[2018-09-27 03:45] #90 closed

[2018-10-08 15:04] gkampmeier opened #107 "add ability for https://tdwg.org to work"
**Page(s) where issue occurs**

**Issue description**

[2018-10-08 15:08] gkampmeier opened #108 "consistent formatting"
**Page(s) where issue occurs**

**Issue description**

[2018-10-08 15:13] gkampmeier opened #109 "Provide link to nomination statements from news item on elections"
**Page(s) where issue occurs**

**Issue description**

[2018-10-08 20:52] stanblum commented on #108
Orange text indicates a link.  Quentin added links to a nominee's ORCID page (like a bio).  People without a link don't have an ORCID page.  Should we raise this discrepancy among nominees in the Exec call?

[2018-10-23 14:24] MattBlissett commented on #107
I wasn't really paying attention, but in automating the certificate renewal I fixed this last week.

[2018-10-23 14:24] #107 closed

[2018-10-30 18:18] MattBlissett commented on #66
I don't remember where I found it, but when I needed one I used this SVG.

<a href="http://mb.gbif.org/logo-tdwg.svg"><img src="http://mb.gbif.org/logo-tdwg.svg" width="500px" alt="TDWG logo"></a>

The font is different to Dimitris'.

[2018-10-31 08:11] dkoureas commented on #66
I think we have a new svg version of the in the website now

Kind regards,
Dimitris

*--*

*Dr Dimitris Koureas, FLS*
*Programme Director - Department Head*
International Biodiversity Infrastructures
Naturalis Biodiversity Center, P.O. Box 9517, 2300 RA Leiden, NL

Coordinator, Distributed System of Scientific Collections (DiSSCo
<http://dissco.eu/>)
Chair, Biodiversity Information Standards Organ

[2018-11-29 14:17] baskaufs opened #115 "charter template links are broken"
**Page(s) where issue occurs**
Community management

https://www.tdwg.org/community/management/

**Issue description**
The links for the Interest and Task Group charters are broken.  I did not check whether other links were broken

Expected to be able to download the charter templates.

[2018-11-29 14:21] baskaufs commented on #115
The templates seem to be here:
https://rs.tdwg.org/documents/templates/
although my browser was complaining about security issues

[2018-12-01 23:08] stanblum commented on #115
I don't know what lead you search for them on the rs.tdwg.org (which seems to be http instead of https), but thanks for the reminder.  The better URLs for those are https://static.tdwg.org/documents/...  Those corrections are now updated on page in the first comment.  Actually, these docs need to be reviewed, updated as necessary, converted to markdown and re-posted.  I'm going to remove the links

[2018-12-01 23:08] #115 closed

[2018-12-15 14:04] MattBlissett commented on #66
In https://github.com/tdwg/website/commit/18e4271d0b169345f691a02c9dfa4c85037245a4 I've converted the two-colour logo with the correct font into the monochrome versions Dmitris provided. See http://labs.gbif.org/~mblissett/2018/12/tdwg_logos/tdwg-logos.html for a quick look at the images.

Unless the font has been changed intentionally, the logos Dmitris has were exported without the appropriate f

[2018-12-17 12:59] peterdesmet commented on #66
Thanks @MattBlissett, I just checked https://github.com/tdwg/website/commit/18e4271d0b169345f691a02c9dfa4c85037245a4: that's awesome!

[2018-12-27 18:32] peterdesmet commented on #17
Closing this issue: best course of action to test locally is to use `python -m http.server 8000` as written in the README: https://github.com/tdwg/website#build-site

[2018-12-27 18:32] #17 closed

[2018-12-27 18:52] peterdesmet opened #121 "Write page for Botanico-Periodicum-Huntianum"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/bph/

**Issue description**

This is an empty page and there is nothing to be found on GitHub. Is there anyone who knows more about this standard and/or that could contribute content?

I will set the page to `hidden` (hiding it from navigation) until we have some content.

[2018-12-27 18:53] peterdesmet commented on #121
Idem for https://www.tdwg.org/standards/bph-supplementum/

[2018-12-27 19:16] peterdesmet opened #122 "Write page for Economic Botany Data Collection Standard"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/economic-botany/

**Issue description**

Apart from some metadata, the page for this standard is empty. On [GitHub](https://github.com/tdwg/prior-standards/tree/master/economic-botany-data-collection-standard) there is an abstract and reference, but no actual standard. Is there anyone knows more about this standard and could write some

[2018-12-28 12:44] peterdesmet opened #123 "Extend page for Floristic regions of the world"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/floristic-regions/

**Issue description**

Apart from some metadata, a reference and a short introduction, the page for this standard is empty. On GitHub there is no further information either. The only thing I found online was a pdf with the table of content: http://www.gbv.de/dms/bs/toc/024192430.pdf Is there anyone knows more about

[2018-12-29 14:03] peterdesmet commented on #122
There is an online version at kew.org. I've updated the page (no longer hidden). 2a27b38

[2018-12-29 14:03] #122 closed

[2018-12-29 14:06] peterdesmet opened #124 "Add publication for"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/plant-names/

**Issue description**

I've populated this page as best as possible, but there is no reference or actual standard. It's not on [GitHub](https://github.com/tdwg/prior-standards/tree/master/plant-names-in-botanical-databases) either. Is there anyone knows more about this standard and where to find it?

I will hide the page

[2018-12-31 13:38] peterdesmet opened #125 "Write page for Language for the Definition and Exchange of Biological Data Sets (XDF)"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/xdf/

**Issue description**

Apart from some metadata, the page for this standard is empty. On [GitHub](https://github.com/tdwg/prior-standards/tree/master/xdf) there isn't more information either. Is there anyone knows more about this standard and could write some content for this page?

I will hide the page from the navigation (`stat

[2018-12-31 13:50] peterdesmet opened #126 "Write page for Index herbariorum. Part 1, The herbaria of the world"
**Page(s) where issue occurs**

https://www.tdwg.org/standards/ih/

**Issue description**

Apart from some metadata and a bibliographic citation I added, the page for this standard is empty. On [GitHub](https://github.com/tdwg/prior-standards/tree/master/index-herbariorum-part-i) there isn't more information either. Is there anyone knows more about this standard and could write some content for th

[2019-01-03 21:00] baskaufs commented on #121
See [this comment](https://github.com/tdwg/website/pull/127#issuecomment-451274965) for info on this standard.

[2019-01-03 21:01] baskaufs commented on #123
See [this comment](https://github.com/tdwg/website/pull/127#issuecomment-451274965) for info on this standard.

[2019-01-03 21:05] baskaufs commented on #124
See [this comment](https://github.com/tdwg/website/pull/127#issuecomment-451274965) for info on this standard.

[2019-01-03 21:05] baskaufs commented on #125
See [this comment](https://github.com/tdwg/website/pull/127#issuecomment-451274965) for info on this standard.

[2019-01-03 21:06] baskaufs commented on #126
See [this comment](https://github.com/tdwg/website/pull/127#issuecomment-451274965) for info on this standard.

[2019-01-13 06:19] qgroom opened #128 "Page needed for the Audubon Core maintenance interest group"
**Issue description**
An Audubon Core Maintenance Interest Group has been approved and it needs a webpage on the website to explain its work.
**Page(s) where issue occurs**
The page should be created here https://www.tdwg.org/community/

[2019-01-15 08:39] peterdesmet opened #129 "Add structural metadata to standards"
**Page(s) where issue occurs**

ubpages of https://www.tdwg.org/standards/

**Issue description**

In response to the standardization of the standard pages (https://github.com/tdwg/website/pull/127), @baskaufs wrote that more metadata about the standards can be found in rs.tdwg.org (https://github.com/tdwg/website/pull/127#issuecomment-451274965). It would be good to have this information on the s

[2019-03-12 03:03] stanblum commented on #25
I tightened the introductory bullets and some of the wording a while ago.  Closing this.

[2019-03-12 03:03] #25 closed

[2019-03-21 10:56] nickynicolson opened #134 "Functional subcommittee links broken"
**Page(s) where issue occurs**

https://www.tdwg.org/about/executive/

**Issue description**

Functional subcommittee links broken. They point to links in the form:
 https://www.tdwg.org/committees/tag/
The correct format seems to be:
 https://www.tdwg.org/about/committees/tag/

[2019-03-21 18:27] stanblum commented on #134
Thanks, Nicky!  Fixed.

[2019-03-21 18:27] #134 closed

[2019-07-10 01:43] tucotuco opened #136 "DateLastModified for web pages"
**Page(s) where issue occurs**
All TWDG pages

**Issue description**
@ArthurChapman suggest, "I notice that the Darwin Core Quick Reference Guide (https://dwc.tdwg.org/terms/) does not have a date on the Web page.  It should."

It seems to me that this is actually an important thing for every TDWG web page to have a date last modified.

[2019-07-11 06:26] peterdesmet commented on #136
I’m not sure how to display the date on the page, but every page on www.tdwg.org does have an “edit this page” link, where you can see the latest commit date for the file, as well as _what_ changed.

Pages on dwc.tdwg.org do not have this, but everything is under version control too, so the modified date can be retrieved.

[2019-07-11 06:30] ArthurChapman commented on #136
It makes it very difficult to cite a page in a publication without a "Last modified" date clearly visible.  For example, anyone wanting to cite the Darwin Core Quick Reference Guide ends up having to cite just TDWG n.dat.  This is not good practice, and certainly not for a Standards organization.

[2019-07-11 06:38] ArthurChapman commented on #136
The page I was particularly looking at was https://dwc.tdwg.org/terms/ where there is no "edit this page" link on the page.  One can find a date under "Namespace Policy" but it should be easier for the general punter.

[2019-07-11 06:40] peterdesmet commented on #136
While I agree it could be improved, for citing a page one could use the current date as in “accessed on yyyy-mm-dd”?

[2019-10-20 18:02] jar398 opened #140 "Broken link on TNC page"
**Page(s) where issue occurs**
content/pages/community/tnc/index.md

http://www.tdwg.org/activities/tnc/tnc-document-repository/  = TNC document repository

**Issue description**
404

I couldn't find the intended target, so not sure what to suggest. If there is no repository, either remove the reference, create the repository, or include an apology such as 'work in progress'.

[2019-10-20 18:03] jar398 commented on #140
The following link is also broken:

http://www.tdwg.org/activities/tnc/tcs-schema-repository/

[2020-02-26 14:28] nickynicolson opened #144 "Institutional membership (2020) in wikidata"
(Of potential interest to TDWG website development due to use of multiple languages in institutional membership list (as per recent commit 7c1d0b6ad1ea1e98b977b1d5f9a60eee390dbe13): I added TDWG institutional membership statements to [wikidata](www.wikidata.org), which also holds translations of institutional names, and location coordinates etc.

SPARQL query to retrieve these below:
[code]
This [

[2020-03-05 19:21] baskaufs commented on #128
The ACMG has been actively using [this site](https://github.com/tdwg/ac) to archive all of its activities. Is there a way to link to that instead of creating a different page?

[2020-06-01 17:07] dshorthouse opened #151 "Markdown content in table renders correctly on github, not on website"
**Page(s) where issue occurs**

vs

**Issue description**

[2020-09-24 11:53] #151 closed

[2020-09-25 13:56] MattBlissett opened #185 "Show local times (as well as UTC) for the virtual conference"
For the October's conference schedule, assuming it has a similar structure to this week, could we try adding a local date and time to the table?  Perhaps as the text of the "Local time" link.

In Javascript, given a nicely formatted UTC date, the browser will convert that to the browser's (i.e. computer's) timezone.

[code]

I think including the end time would be good too, as I've seen several pe

[2020-10-28 15:53] nickynicolson opened #248 "Committee nominations (2020): deputy chair missing from description list"
**Page(s) where issue occurs**

https://www.tdwg.org/news/2020/call-for-nominations/

**Issue description**

Deputy chair is open for nominations but is not described in the "Offices open for election" listing further down the page

[2020-10-28 16:40] qgroom commented on #248
Good point!
I'll fix it ASAP

[2020-10-28 19:23] qgroom commented on #248
The page has been updated now.
Thanks for pointing it out!

[2020-10-28 19:23] #248 closed

[2020-12-10 11:12] pmergen opened #257 "Contact info on page "interested to host a conference""
**Page(s) where issue occurs**

**Issue description**

Before the link to interested to host a conference was the mail of the Time and Place committee (tardis@tdwg.org). It is fine that it links now to the functional group description, but the mail to contact us if interested has disappeared. It would be good to add it to the functional committee page again.

Thanks

[2021-02-09 10:52] nickynicolson opened #263 "YAML header for some pages malformed"
The source for the following pages has malformed YAML headers (values are not quoted when they contain special characters like ':'):

- content/pages/standards/abcd/index.md
- content/pages/standards/sds/index.md
- content/pages/standards/tl-2/index.md
- content/pages/standards/vms/index.md

As the pages function correctly Pelican must tolerate this, but it prevents programmatic extraction of meta

[2021-02-24 19:56] stanblum commented on #263
Thanks, Nicky.  All those unquoted values are now fixed, but the
unfortunate thing is that the double quotes now print out as part of the
summary value. That's not great from a style perspective.  :-/  Also
unfortunately, modifying that is beyond my skill level (and perhaps even
access permissions).  Can I persuade anyone with more technical skill to
insert a quote-stripping regex in front of the

[2021-03-03 17:37] nickynicolson commented on #263
I'm happy for you to roll back this change to fix this rather than quote-stripping because the frontmatter actually isn't YAML, just a look-alike. There is a pelican plugin that uses YAML which we could install (I have it running locally) - this would be a better long term solution.

[2021-05-26 07:54] gdadade opened #282 "How to place Task Groups on Interest Group Page"
**GBWG Interest Group**

We would like to place the Task Force(s) higher up on the page. I can add the header "Task Forces" below "Motivation and Scope", but what markup syntax do I have to use to move the TF thumbnail(s) to this spot?

[2021-05-26 14:55] gkampmeier commented on #282
I think the TF thumbnails are automatically generated from the type of heading, so clicking on Edit this page should reveal the types of markup required to add the proper header.

[2021-05-26 15:06] peterdesmet commented on #282
@gdadade the thumbnails are on the bottom by default. But you can force it to a specific place by adding :

[code]

I have done so in https://github.com/tdwg/website/pull/283. @gkampmeier can you review and accept?

[2021-05-26 15:17] gdadade commented on #282
ok thanks! I made the edits and created a pull request :)

[2021-05-26 15:34] peterdesmet commented on #282
Ok, resolved.

[2021-05-26 15:34] #282 closed

[2021-08-11 02:20] baskaufs commented on #129
This is addressed by https://github.com/tdwg/website/pull/368

[2021-08-11 02:20] baskaufs commented on #129
And I think it can be closed @peterdesmet , but I'm not a member of the website repo so I can't do it.

[2021-08-17 09:45] #129 closed

[2022-02-22 13:25] MattBlissett commented on #83
Completed, http://www.tdwg.org/standards/638 redirects to https://www.tdwg.org/standards/ac/

[2022-02-22 13:25] #83 closed

[2022-10-18 09:02] timrobertson100 opened #462 "Migrate TDWG site to new logo and brand"
TDWG presented a new brand at the 2022 conference.
The site should be migrated.

Contributions are most welcome.

[2022-10-18 09:38] peterdesmet commented on #462
Working on it 👌

[2022-10-18 12:17] peterdesmet commented on #462
This is a version with only the green and blue. The green makes links hard to read in text, so they need to be underlined:

![Standards-TDWG (1)](https://user-images.githubusercontent.com/600993/196426242-bdda65c1-2c16-499f-95a6-cf11685a8dc8.png)

---

![Darwin-Core-quick-reference-guide-Darwin-Core (1)](https://user-images.githubusercontent.com/600993/196426968-8bfdf873-f17d-4fd8-8d43-c0d6d272d1e

[2022-10-18 12:22] peterdesmet commented on #462
Alternatively, we use a brighter (closer to original orange) colour for the links, which then don't require underline:

![Standards-TDWG (2)](https://user-images.githubusercontent.com/600993/196427961-49bb006d-930b-47e3-8619-5e8ed29fb60e.png)

---

![Darwin-Core-quick-reference-guide-Darwin-Core (2)](https://user-images.githubusercontent.com/600993/196428001-0fc6b1d8-1ef0-4362-ac92-d7c8fb4aa15f.pn

[2022-10-18 12:22] peterdesmet commented on #462
Feedback welcome

[2022-10-18 14:19] peterdesmet opened #464 "Logo missing"
**Page(s) where issue occurs**

https://www.tdwg.org/about/logos/

**Issue description**

The short form logo in white is missing in SVG: https://static.tdwg.org/logo/White/SVG/TDWG-Logo_Short-Form-white.svg

[2022-10-18 18:39] stanblum commented on #462
I like the orange on linked text -- enhanced contrast improves readability!

On Tue, Oct 18, 2022 at 5:22 AM Peter Desmet ***@***.***>
wrote:

[2022-10-18 21:40] peterdesmet commented on #464
Don’t need it, just wondered why it was missing.

[2022-10-20 07:00] peterdesmet commented on #462
I have tested the green link and orange link versions on https://pilestone.com/pages/color-blindness-simulator-1# and both work fine.

Note that adding orange to the mix makes it a bit more challenging to have a consistent theme though. 😄

[2022-10-20 07:02] peterdesmet commented on #462
I've also experimented with an another theme. Here I have not underlined the green links, how unreadable are they?

![Darwin-Core-TDWG (2)](https://user-images.githubusercontent.com/600993/196878687-d2bbd180-d85a-47b6-bc09-c1d76ff7c174.png)

[2022-10-20 07:08] stanblum commented on #462
Thanks, Peter!

The green links on white are very readable.  I think the green links on a
dark background (e.g., over the banner image at the top) were hard to
read.  Would you be inclined to washout (de-contrast) the banner image?

Curious to hear what others think of all these options.

-Stan

On Thu, Oct 20, 2022 at 12:02 AM Peter Desmet ***@***.***>
wrote:

[2022-10-20 08:06] peterdesmet commented on #462
Ah, if you think the green on white (in regular text) works fine, then it's fairly easy to use another approach in the theme for links on dark. I suggest white underline for those:

![Darwin-Core-TDWG (3)](https://user-images.githubusercontent.com/600993/196892342-5cd50969-dce7-4b6c-9744-1dc052b1a4ec.png)

The advantage is that we don't have to introduce orange then.

[2022-10-20 10:35] WUlate commented on #462
I'm all for washout the background and leave the colors as they were.I'd say these images are too dark and taking prese(de)nce from our content.
Regards,
William.
    On Thursday, October 20, 2022 at 10:08:39 AM GMT+3, Stan Blum ***@***.***> wrote:

Thanks, Peter!

The green links on white are very readable. I think the green links on a
dark background (e.g., over the banner image at the top) were

[2022-10-20 11:26] mhirschfeld commented on #462
I would also like to stick to blue and green only when possible and wash out colors where needed!

[2022-11-09 01:55] gkampmeier commented on #462
@peterdesmet where you have the DwC website button in dark green with black text, you could try white text, as the reverse of the GitHub button, and it would make that more readable.  Saturating or desaturating colors to provide contrast helps. BTW, I find orange (and worse, red) text very hard to read, even though the contrast stands out. I hope we can find a compromise as @mhirschfeld indicates

[2022-11-09 09:05] peterdesmet commented on #462
@gkampmeier thanks for the input. Seems like the consensus is to go with new green and blue 👍. White vs black text on the buttons is automatically detected. Apparently the new TDWG green (`#709147`) is right on the cusp to show black text (which I still find readable), while a slightly darker green (`#617E3E`) switches to white text.

Here's a new version with that green and a washed out banner (a

[2022-11-10 04:17] #464 closed

[2022-11-10 04:18] stanblum commented on #464
All versions have been posted and links are working.

[2022-11-15 15:52] gkampmeier opened #486 "Accessibility"

[2022-11-17 18:49] ben-norton opened #478 "Standards Page"
A couple comments regarding the Standards page.
1. The opening paragraph could be informative and explicit by defining the 'status' types and categories. Here's my working paragraph.
All TDWG standards have a status and assigned category. "Current" standards official TDWG data standards actively maintained through a designated maintenance group. For more information about official standards and ma

[2022-11-23 19:56] peterdesmet opened #472 "Jekyll migration checklist"
Checklist for migrating the website from Pelican to Jekyll (see #462)

- [x] Move posts
- [x] Move pages
- [x] Update `summary` to `description`
- [x] Update `cover_image` to `background`
- [x] Verify h1 titles
- [x] Remove tags except for IG, TG, MG and posts
- [x] Enable GitHub link in header
- [x] Enable website link in header
- [x] Verify hidden pages
- [x] Check internal links
- [x] Create ma

[2022-11-23 22:16] baskaufs opened #484 "Create page(s) and high-level navigation to "how things work""
This request comes out of discussion that took place in the [2022-11-07 Technical Architecture Group working session](https://github.com/tdwg/tag/blob/master/meetings/2022-11-07-tag-working-session-notes.pdf). There are various situations where best practices and standard operating procedures are established, and are precedents recognized. Sometimes these are recorded, but the record is located in